.content {
	width:        100%;
	min-width:    100px;
	max-width:    1200px;
	margin-top:   50px;
	margin-left:  auto;
	margin-right: auto;
}

.left {
    float: left;
    width: 315px;
 	max-width:  25%;
}

.right {
    float: right;
    width: 75%;
}

.section {
    clear: both;
 	padding-top: 10px;
}